body {
	min-height: 100vh;
	overflow: auto; 
}
.background {
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	/*min-height: 100vh;*/
	/*overflow: hidden;*/
}

#due {
	background-image: url(../images/showcase/dues.jpg);
}

#passbook {
	background-image: url(../images/showcase/passbook.jpeg);
}

#pay {
	background-image: url(../images/showcase/pay.jpg);
}

#event {
	background-image: url(../images/showcase/events.jpg);
}

#profile {
	background-image: url(../images/showcase/profile.jpg);
}

.container {	
	width: 100%;
	height: 100%;
	min-height: 85vh;
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*right: 0;*/
	/*bottom: 0;*/
	background-color: rgba(0, 0, 0, 0.4);
	/*padding: 30px 0;*/
	padding-top: 90px;
	padding-bottom: 10px;
}

.title {
	/*text-transform: uppercase;*/
	color: white;
	font-size: 6vh;
	text-align: center;
}

.flexcont {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	align-items: space-around;
}
.transcont {
	flex: 2;
	/*background-color: rgba(255, 255, 255, 0.2);*/
}

.wallet {
	text-align: center;
	padding: 10px;
	flex: 1;
	background-color: rgba(53, 66, 74, 0.7);
	/*margin-right: 20px;*/
	mix-blend-mode: hard-light;

}
.wallet h1 {
	font-size: 4em;
	color: #EF6C00;
}
.wallet p {
	font-size: 2em;
	font-weight: 600;
	color: #0091EA;
}
.whitecolor {
	color: white;
}
.cleantable {
	/*display: none;*/
	padding: 2em;
	border: none;
	color: black;
	font-weight: bold;
	width: 90%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	mix-blend-mode: hard-light;
}
#profile .cleantable {
	background-color: rgba(255, 255, 255, 0.5);
	text-align: left;
	width: 40%;
	mix-blend-mode: screen;
	color: black;
}
#profile .cleantable td {
	background-color: rgba(255, 255, 255, 0.4);
	padding-left: 30px;
}

.cleantable tr {
	border: none;
	padding: none;
	margin: none;
}
.cleantable td {
	/*padding: 20px;*/
	margin: none;
	border: none;
	padding: 0.5em;
}
.cleantable th {
	padding: 1em;
	font-weight: 600;
	text-transform: uppercase;
}

/* Pay */


#pay form, #profile form {
	margin-top: 8vh;
}

#profile form {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 30px;
	height: 33vh;
	mix-blend-mode: hard-light;
	text-align: center;
}

#pay input, #profile input {
	margin-top: 1vh;
	margin-bottom: 1vh;
	display: block;
	padding: 1em;
	width: 17.75vw;
}
#pay select {
	display: block;
	padding: 1em;
	width: 20vw;
}

#pay option {
	padding: 1em;
}

#pay input[type=submit], #profile input[type=submit]{
	border: none;
	width: 20vw;
	background-color: #0091EA;
	color: white;
	font-weight: 600;
	padding: 1em;
	transition: background-color 500ms ease;	
	mix-blend-mode: hard-light;
	cursor: pointer;
}

#ureceiver {
	display: none;
}



#due input[type=submit], #event input[type=submit]{
	border: none;
	cursor: pointer;
	background-color: #0091EA;
	color: white;
	width: auto;
	font-weight: 600;
	font-size: 16px;
	padding: 1em;
	transition: background-color 500ms ease;
}
#due input[type=submit]:hover,
#pay input[type=submit]:hover,
#event input[type=submit]:hover,
#profile input[type=submit]:hover {
	background-color: #EF6C00;
}

